body {
  padding: 0;
  margin: 0;
  background: url("https://source.unsplash.com/1000x2000/?colorful oil");
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: center;
}
