@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.footer {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5pc;
  width: 100%;
  max-height: 88px;
}
.textField {
  position: absolute;
  height: 10%;
  width: 20pc;
  resize: none;
  border-radius: 35px;
  border: none;
  padding: 20px;
  bottom: 18px;
  margin: auto;
  right: 0;
  left: 0;
  color: white;
  font-size: 20px;
  outline: none;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  font-family: "Baloo Thambi 2", cursive;
  padding-right: 60px;
}
.textField::placeholder {
  color: white;
}
.sendBtn {
  position: absolute;
  margin: auto;
  height: fit-content;
  width: fit-content;
  top: 0;
  bottom: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  right: 25px;
  transition: 0.4s;
}
