@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
.header {
  position: relative;
  height: 5pc;
  width: 100%;
  background: linear-gradient(90deg, rgb(91, 155, 250), rgb(122, 27, 212));
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 50% 50%;
}
.opponentUserMiniData {
  height: 100%;
  width: 225px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.backBtn {
  position: absolute;
  background: transparent;
  height: 40px;
  outline: none;
  border: none;
  filter: invert(1);
  margin: auto;
  left: 25px;
  top: 0;
  bottom: 10px;
}
.profileImgContainer {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  overflow: hidden;
  border: 4px solid rgb(8, 255, 131);
  box-shadow: 0 0 10px rgb(8, 255, 131);
}
.profileImg {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 50%;
  height: 88%;
}
.header .name {
  color: white;
  position: absolute;
  height: fit-content;
  width: fit-content;
  max-width: 70px;
  transform-origin: left;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Baloo Thambi 2", cursive;
  text-align: left;
  line-height: 20px;
  word-wrap: normal;
}
